* {
  font-family: Raleway;
}
body {
background-color: #9B988B;
/* Margin bottom by footer height */
margin-bottom: 75px;
}
html {
  position: relative;
  min-height: 100%;
}
.jumbotron {
  background-color: #6B0A00;
  color: #FFF9D4;
  text-align: center;
  margin-top: -22px;
  padding-bottom: 10px;
  padding-top: 10px;
}
#start {
  margin-top: 10px;
  background-color: #222222;
  border: white;
  color: #02E148;
}
#content {
  margin-top: 75px;
}
#faces {
  text-align: center;}
.friends {
  width: 150px;
  height: 150px;
  margin: 10px auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #222222;
  color: #FFFFFF;
}
.footerText {
  font-size: 12pt;
  margin-top: 20px;
}

.footerText{
  font-size: 12pt;
  margin-top: 20px;
  color: #FFFFFF;
  text-decoration: none;
}

.footerText a:link, .footerText a:visited, .footerText a:hover, .footerText a:active{
  color: #FFFFFF;
  text-decoration: none;

}
